<launch>
    <node name="ros_tts_mimic" pkg="utbots_tts" type="ros_tts_mimic.py" />
    <node name="vad_node" pkg="vad_silero_ros" type="vad_node" output="screen" /> 
    <node name="whisper_node" pkg="whisper_cpp_ros" type="whisper_node" output="log"/>
    <include file="$(find mediapipe_track/launch/body_pose_and_points.launch)">
        <remap from="/camera/rgb/image_raw" to="/camera/rgb/image_color"/>
        <remap from="/camera/depth_registered/image_raw" to=""
    </include>
</launch>
